**PRSNN_tutorial**

This tutorial outlines the key steps for running the PRSNN technique, including data collection, ensuring data quality, and the deep learning phase. It utilizes summary statistics data from the Psychiatric Genomics Consortium (PGC) and genotypes data from Opensnp. In the supplementary material, we present one of the three datasets used in our study, derived from PGC. Specifically, this dataset focuses on depression disease.

1. Data collection:
* The Data library includes essential functions for collecting individual genotypes from Opensnp, preprocessing PGC data, and handling the data. Its main purpose is to prepare datasets.

In [ ]:
import Data as dt
import pandas as pd
import numpy as np

parse_23andme function prepares genetic data for further analysis by cleaning it, handling different file formats, and ensuring consistent column names.

In [ ]:
dt.parse_23andme('12004.23andme.9868')

c:\Users\Moussa Benoumhani\OneDrive\Desktop\Data for MLnn\Data.py:26: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(file, sep='\t', header=None)

               rsid chromosome  position genotype
0       rs548049170          1     69869       TT
1         rs9326622          1    567092       CC
2       rs116587930          1    727841       GG
3         rs3131972          1    752721       GG
4        rs12184325          1    754105       CC
...             ...        ...       ...      ...
643530      i704756         MT     16524        A
643531      i705255         MT     16525        A
643532     i4000757         MT     16526        G
643533      i701671         MT     16526        G
643534      i745490         MT     16545        T

[643535 rows x 4 columns]

crawl_opensnps function scrapes Opensnp genotypes data, collects file URLs along with their types, and writes them to a TSV file for further processing

In [ ]:
dt.crawl_opensnps()
df=pd.read_csv('list_opensnps.tsv', sep='\t')
df.head()

                                         file     type
0  https://opensnp.org/data/4120.23andme.2788  23andme
1  https://opensnp.org/data/4441.23andme.3044  23andme
2  https://opensnp.org/data/4126.23andme.2792  23andme
3  https://opensnp.org/data/4125.23andme.2791  23andme
4  https://opensnp.org/data/3110.23andme.2003  23andme

In [ ]:
grouped=df.groupby('type').count()
grouped

                   file
type
23andme            5018
23andme-exome-vcf   148
IYG                  14
ancestry           1181
decodeme              8
ftdna-illumina      688
genes-for-good       13

Data_quality function ensures data quality by cleaning and structuring the genetic data for subsequent analysis. Here is the link to donload the PGC data for various mental disease: /pgc.unc.edu/for-researchers/download-results/.
An example of utilizing summary statistics for depression and anxiety data from PGC.

In [ ]:
df = pd.read_csv("anxiety.meta.full.cc.tbl",sep='\t')
data=dt.Data_quality(df)
data.head()

        rsid genotype  effect weight        P  Case of disease
0  rs1000033       tg        -0.0574  0.09867                0
1  rs1000050       tc         0.0654  0.15640                0
2  rs1000070       tc        -0.0229  0.45800                0
3  rs1000073       ag        -0.0057  0.84730                0
4  rs1000075       tc        -0.0353  0.20890                0

In [ ]:
df = pd.read_csv("Depression sum data.csv")
df.shape

(9874289, 5)